astroid==2.3.3
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
filetype==1.0.5
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
pathvalidate==2.3.0
pendulum==2.0.5
pylint==2.4.4
python-dateutil==2.8.1
pytzdata==2019.3
PyYAML==5.1.2
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.7
wrapt==1.11.2
