astroid==2.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
filetype==1.0.7
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
lxml==4.6.5
mccabe==0.6.1
pathvalidate==2.3.2
pendulum==2.1.2
pylint==2.7.0
python-dateutil==2.8.1
pytzdata==2020.1
PyYAML==5.4.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
toml==0.10.2
typed-ast==1.4.2
urllib3==1.26.5
wrapt==1.12.1
